<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title><%= current_page.data.title || "Katie Soldau" %></title>
    <meta name="description" content="Katie Soldau's portfolio site.">
    <meta name="keywords" content="katie, soldau, web, development, front-end, design, interactive media">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,800,700,900,600,500,300,200,100' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "normalize", "all" %>

    <%= javascript_include_tag  "all" %>

  </head>

  <body class="<%= page_classes %>">
    <div class="page">
      <nav class="nav">
        <% if !(current_page.data.page === "home") %>
        <a class="nav__name" href="/">Katie Soldau</a>
        <% end %>
        <ul class="nav__list">
          <li class="nav__item">
            <%= link_to "Work", "/", :class => (current_page.data.page == "home" ? "nav__link active" : "nav__link") %>
          </li>
          <li class="nav__item">
            <%= link_to "Resume", "/ksoldau_resume.pdf", :target => "_blank", :class => "nav__link" %>
          </li>
          <li class="nav__item">
          <%= link_to "About", "/about.html", :class => (current_page.data.page == "about" ? "nav__link active" : "nav__link") %>
          </li>
        </ul>
      </nav>

      <%= yield %>

      <div class="clear"></div>
      <footer class="footer">&#169 Katie Soldau, 2015</footer>

    </div>
  </body>
</html>
