<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title><%= current_page.data.title || "Katie Soldau" %></title>
    <description></description>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "normalize", "all" %>

    <%= javascript_include_tag  "all" %>

  </head>

  <body class="<%= page_classes %>">
    <div class="page">
      <%= yield %>
    </div>
  </body>
</html>
