<h1 class="proj-name"><%= name %></h1>
<ul class="proj-details">
  <li class="proj-detail"><%= role %></li>
  <li class="proj-detail"><%= date %></li>
  <li class="proj-detail">
    <a target="_blank" href="<%= live_link %>" class="proj-detail__live-link"><%= live_link_name %></a>
  </li>
</ul>

<div class="proj-content">
<% content.each do |piece| %>
  <% if piece[:type] === "copy" %>
  <div class="proj-copy col-12">
    <% if piece[:header] %>
    <h3 class="proj-header"><%= piece[:header] %></h3>
    <% end %>
    <p class="copy"><%= piece[:copy] %></p>
  </div>
  <% elsif piece[:type] === "image" %>
    <% if defined?(piece[:edge]) && piece[:edge] == true %>
    <div class="proj-image-wrap edge col-<%= piece[:columns] %>">
    <% elsif %>
    <div class="proj-image-wrap col-<%= piece[:columns] %>">
    <% end %>
    <div class="proj-image">
      <img src="<%= piece[:url] %>">
      <span class="comment"><%= piece[:comment] %></span>
    </div>
  </div>
  <% end %>
<% end %>
</div>
<div class="col-12">
  <div class="next">
    <% if defined?(after) %>
    <div class="next__next">
        <h3 class="next__header">Next project</h3>
        <a class="next__link" href="<%= after[:url] %>" >
          <%= after[:title] %>
        </a>
    </div>
    <% end %>
    <% if defined?(prev) %>
    <div class="next__prev">
        <h3 class="next__header">Previous project</h3>
        <a class="next__link" href="<%= prev[:url] %>" >
          <%= prev[:title] %>
        </a>
    </div>
    <% end %>
  </div>
</div>
