<h1 class="proj-name"><%= name %></h1>
<ul class="proj-details">
  <li class="proj-detail"><%= role %></li>
  <li class="proj-detail"><%= date %></li>
  <% if defined?(live_link) %>
  <li class="proj-detail">
    <a target="_blank" href="<%= live_link[:url] %>" class="proj-detail__live-link"><%= live_link[:name] %></a>
  </li>
  <% end %>
</ul>

<div class="proj-content">
<% content.each do |piece| %>
  <% if piece[:type] === "copy" %>
  <div class="proj-copy col-12">
    <% if piece[:header] %>
    <h3 class="proj-header"><%= piece[:header] %></h3>
    <% end %>
    <p><%= piece[:copy] %></p>
  </div>
  <% elsif piece[:type] === "image" %>
    <% if defined?(piece[:edge]) && piece[:edge] == true %>
    <div class="proj-image-wrap edge col-<%= piece[:columns] %>">
    <% elsif %>
    <div class="proj-image-wrap col-<%= piece[:columns] %>">
    <% end %>
    <div class="proj-image">
      <img src="<%= piece[:url] %>">
      <% if piece[:comment] %>
      <span class="comment"><%= piece[:comment] %></span>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>
</div>
<div class="col-12">
  <div class="next">
  <% currentOrder = data.projects.order.index(key) %>
  <div class="next__next">
  <% if currentOrder >= 1 %>
    <% previousKey = data.projects.order[currentOrder - 1] %>
    <% previousName = data.projects[previousKey].name %>
    <% previousUrl = data.projects[previousKey]['details-url'] %>
        <a class="next__link" href="<%= previousUrl %>" >
        <h3 class="next__header">Previous Project</h3>
          <%= previousName %>
        </a>
    <% end %>
  </div>

  <div class="next__prev">
  <% if currentOrder < data.projects.order.length - 1 %>
    <% nextKey = data.projects.order[currentOrder + 1] %>
    <% nextName = data.projects[nextKey].name %>
    <% nextUrl = data.projects[nextKey]['details-url'] %>
        <a class="next__link" href="<%= nextUrl %>" >
        <h3 class="next__header">Next Project</h3>
          <%= nextName %>
        </a>
  <% end %>
  </div>

  </div>
</div>
