---
page: "home"
---

<div class="hero">
  <h1 class="hero__name">Katie Soldau</h1>
  <p class="hero__desc">Hi! I'm a web developer with an interest in design, UI/UX, and development. In May 2016, I will graduate with a combined degree in Computer Science and Interactive Media.</p>
</div>
<div class="projects">
<h2 class="projects__header">Recent Work</h2>
<ul class="projects__list">
  <%= partial(:"partials/project-tile", :locals => {
    :name => "Matisia",
    :role => "Front-end development",
    :img_url => "../images/matisia-tile-6.png",
    :details_url => "/work/matisia.html"
  }) %>
  <%= partial(:"partials/project-tile", :locals => {
    :name => "Human Ventures",
    :role => "Front-end development",
    :img_url => "../images/hv-tile.png",
    :details_url => "/work/human-ventures.html"
  }) %>
  <%= partial(:"partials/project-tile", :locals => {
    :name => "Transforming Medicine",
    :role => "Front-end development",
    :img_url => "../images/tm-tile.png",
    :details_url => "/work/transforming-medicine.html"
  }) %>
  <%= partial(:"partials/project-tile", :locals => {
    :name => "Wellthy",
    :role => "Front-end development",
    :img_url => "../images/wellthy-tile.png",
    :details_url => "/work/wellthy.html"
  }) %>
  <%= partial(:"partials/project-tile", :locals => {
    :name => "Ronik Awards Page",
    :role => "Design & front-end development",
    :img_url => "../images/ra-tile.png",
    :details_url => "/work/ronik-awards.html"
  }) %>

  </ul>
  <div class="clear"></div>
</div>
